<div class="card-panel">
  <h4>Logs</h4>
  <br>
  <div class="row">
    <div class="input-field">
        <i class="mdi-action-search prefix"></i>
        <input id="icon_prefix" type="text" ng-model="procurarLog">
        <label for="icon_prefix">Procurar Log</label>
    </div>
  </div>
  <div class="row">
    <table class="bordered striped">
      <tbody ng-repeat="l in logs | filter:procurarLog">
        <tr>
          <td>O usuário {{l.nome}} {{l.descricao}} [{{l.data_formatada}}]</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
