		<div class="col s12 m12">
			<div class="card-panel">
			  <h4>{{editar ? 'Editar' : 'Adicionar'}} Usuário</h4>
				<br>
				  <div class="row">
				    <form class="col s12" name="formulario">
							<div class="row">
		            <div class="input-field col s6">
									<select ng-model="usuario.id_tipo_pessoa" id="tipo_pessoa" material-select watch>
										<option value="" disabled selected>Selecione o Perfil</option>
										<option ng-repeat="t in tipo_pessoa" value="{{t.id}}" >{{t.descricao}}</option>
									</select>
									<label>Perfil de Acesso</label>
		            </div>
		            <div class="input-field col s6">
									<input id="id" type="text" ng-model="usuario.id" ng-disabled="true">
		              <label for="id">Código</label>
		            </div>
							</div>
							<div class="row">
		            <div class="input-field col s6">
									<input id="nome" type="text" required ng-model="usuario.nome" maxlength="50">
		              <label for="nome">Nome</label>
		            </div>
		            <div class="input-field col s6">
									<input id="telefone" type="text" required ng-model="usuario.telefone" maxlength="20" model-view-value="true" ui-mask="{{phoneMask}}" mask-change="phoneMask">
		              <label for="telefone">Telefone</label>
		            </div>
			        </div>
							<div class="row">
		            <div class="input-field col s6">
									<input id="endereco" type="text" required ng-model="usuario.endereco" maxlength="50">
		              <label for="endereco">Endereço</label>
		            </div>
		            <div class="input-field col s6">
									<input id="email" type="email" required ng-model="usuario.email" maxlength="40">
		              <label for="email">E-mail</label>
		            </div>
			        </div>
							<div class="row">
		            <div class="input-field col s6">
		              <input id="login" type="text" ng-model="usuario.login" maxlength="20" ng-disabled="editar">
		              <label for="login">Login</label>
		            </div>
		            <div class="input-field col s6">
		              <input id="cpf" type="text" name="cpf" model-view-value="true" ng-disabled="editar" pattern=".{14,}" ui-mask-placeholder ui-mask-placeholder-char="space" ng-model="usuario.cpf" ng-cpf ui-mask="999.999.999-99" />
		              <label for="login">CPF</label>
									<span style="color:red" ng-if="formulario.cpf.$invalid">CPF Inválido</span>
		            </div>
			        </div>
							<div class="row">
		            <div class="input-field col s6">
		              <input id="senha" type="password" ng-model="usuario.senha" ng-disabled="usuario.id_tipo_pessoa != 2" maxlength="45">
		              <label for="senha">Senha</label>
		            </div>
		            <div class="input-field col s6">
		              <input id="csenha" type="password" ng-model="usuario.csenha" ng-disabled="usuario.id_tipo_pessoa != 2" maxlength="45">
		              <label for="csenha">Confirmar Senha</label>
		            </div>
			        </div>
			        <div class="row">
			          <div class="input-field col s10">
			            <button class="btn cyan right" type="submit" name="listarUsuarios" ui-sref="listarUsuarios">Cancelar
			              <i class="mdi-navigation-close"></i>
			            </button>
			          </div>
			           <div class="input-field col s2">
			            <button class="btn cyan right" type="submit" name="action" ng-click="acao()">{{editar ? 'Editar' : 'Adicionar'}}
			              <i class="mdi-content-send right"></i>
			            </button>
			          </div>
			        </div>
			      </div>
			    </form>
			  </div>
	</div>
</div>
