<div class="card-panel">
  <h4>Usuários</h4>
  <br>
  <div class="row">
    <div class="input-field col s3">
      <button class="btn cyan" type="submit" title="Novo Usuário" ui-sref="adicionarUsuario">Novo Usuário
        <i class="mdi-content-add right"></i>
      </button>
    </div>
    <div class="input-field col s3">
      <button class="btn cyan" title="Gerar Crachás" ng-click="gerarCrachas()">Gerar Crachás
        <i class="mdi-editor-insert-photo"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
        <i class="mdi-action-search prefix"></i>
        <input id="icon_prefix" type="text" ng-model="procurarUsuario">
        <label for="icon_prefix">Procurar Usuário</label>
    </div>
  </div>
  <div class="row" ng-if="global.projeto.id">
    <div class="input-field col s12">
      <input id="mostrarVinculados" type="checkbox" ng-click="mostrarEsconderVinculados(mostrarVinculados)" ng-model="mostrarVinculados">
      <label for="mostrarVinculados">Listar somente vinculados</label>
    </div>
  </div>
  <div class="row">
    <table class="bordered">
      <thead>
        <tr>
          <th>Selecionar</th>
          <th>ID</th>
          <th ng-if="global.projeto.id">Vínculo Projeto</th>
          <th>Login</th>
          <th>E-mail</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody ng-repeat="u in usuarios | filter:procurarUsuario">
        <tr>
          <td>
              <input id="{{u.id}}" type="checkbox" ng-change="listaCheckbox(u)" ng-checked="verificarListaCheckbox(u.id)" ng-model="checkboxes[u.id]">
              <label for="{{u.id}}"></label>
          </td>
          <td>{{u.id}}</td>
          <td ng-if="global.projeto.id"><a ng-if="u.id_projeto == global.projeto.id" style="cursor:pointer" title="Desvincular" ng-click="desvincularUsuario(u.id)"><i class="mdi-action-done small"></i></a><a ng-if="u.id_projeto != global.projeto.id" style="cursor:pointer" title="Vincular" ng-click="vincularUsuario(u)"><i class="mdi-content-clear small"></i></a></td>
          <td>{{u.login}}</td>
          <td>{{u.email}}</td>
          <td>
            <a style="cursor:pointer" name="editarUsuario" ui-sref="editarUsuario({id:u.id})"><i class="mdi-editor-mode-edit small"></i></a>
            <a style="cursor:pointer" title="Excluir" ng-click="excluirUsuario(u.id)"><i class="mdi-action-delete small"></i></a>
            <a style="cursor:pointer" title="Gerar QRCode" ng-click="gerarQRCodeUsuario(u)"><i class="mdi-editor-insert-photo small"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="input-field col s3">
      <button class="btn cyan" type="submit" title="Novo Usuário" ui-sref="adicionarUsuario">Novo Usuário
        <i class="mdi-content-add right"></i>
      </button>
    </div>
    <div class="input-field col s3">
      <button class="btn cyan" title="Gerar Crachás" ng-click="gerarCrachas()">Gerar Crachás
        <i class="mdi-editor-insert-photo"></i>
      </button>
    </div>
  </div>
