<style>
table {
  width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 30px;

  /*text-align: left;*/
}

tbody {
  height: 200px;
  overflow-y: auto;
}

thead {
  /* fallback */
}

.tb1 td, .th1 th {
  width: 25%;
  float: left;
}

.tb2 td, .th2 th {
  width: 20%;
  float: left;
}
</style>
<div class="card-panel">
  <h4>Operador X Origem</h4>
  <br>
  <div class="row">
    <div class="col s6">
      <div class="input-field">
          <i class="mdi-action-search prefix"></i>
          <input id="po" type="text" ng-model="procurarOperador">
          <label for="po">Procurar Operador</label>
      </div>
    </div>
    <div class="col s6">
      <div class="input-field">
          <i class="mdi-action-search prefix"></i>
          <input id="oc" type="text" ng-model="procurarOrigem">
          <label for="oc">Procurar Origem</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s6">
      <table class="bordered">
        <thead class="th1">
          <tr>
              <th>ID</th>
              <th>Vínculo</th>
              <th>Usuário</th>
              <th>Projeto</th>
          </tr>
        </thead>
        <tbody class="tb1">
          <tr ng-repeat="o in operadores | filter:procurarOperador" style="cursor:pointer" ng-style="{'background-color' : verificarSelecionado(o.id, 'o')}" ng-click="selecionar(o, 'o')">
            <td>{{o.id}}</td>
            <!-- <td><a ng-if="o.vinculo != 'Nenhum'" style='cursor:pointer' title='Desvincular Todos' ng-click='desvincular(o.id, "o")'><i class='mdi-action-delete small'></i></a> {{o.vinculo}}</td> -->
            <td><a style="cursor:pointer;color:black" ng-if="validarArray(o.vinculo)" title="Ver Vinculados" ng-click="abrirModal(o.vinculo)"><i class="mdi-image-remove-red-eye small"></i></a><span ng-if="!validarArray(o.vinculo)">{{o.vinculo}}</span></td>
            <td>{{o.nome}}</td>
            <td>{{o.nome_projeto}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col s6">
      <table class="bordered">
        <thead class="th2">
          <tr>
              <th>ID</th>
              <th>Vínculo</th>
              <th>Código</th>
              <th>Placa</th>
              <th>Projeto</th>
          </tr>
        </thead>
        <tbody class="tb2">
          <tr style="cursor:pointer" ng-style="{'background-color' : verificarSelecionado(oc.id,'oc')}" ng-click="selecionar(oc, 'oc')" ng-repeat="oc in origens | filter:procurarOrigem">
            <td>{{oc.id}}</td>
            <!-- <td><a ng-if="v.vinculo != 'Nenhum'" style='cursor:pointer' title='Desvincular' ng-click='desvincular(v.id, "v")'><i class='mdi-action-delete small'></i></a> {{v.vinculo}}</td> -->
            <!-- <td>{{oc.vinculo}}</td> -->
            <td><a style="cursor:pointer;color:black" ng-if="validarArray(oc.vinculo)" title="Ver Vinculados" ng-click="abrirModal(oc.vinculo)"><i class="mdi-image-remove-red-eye small"></i></a><span ng-if="!validarArray(oc.vinculo)">{{oc.vinculo}}</span></td>
            <td>{{oc.descricao}}</td>
            <td>{{oc.nome_projeto}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s10">
      <button class="btn cyan right" title="Cancelar" ng-click="cancelar()">Cancelar
        <i class="mdi-navigation-close"></i>
      </button>
    </div>
     <div class="input-field col s2">
      <button class="btn cyan right" title="Salvar" type="submit" name="action" ng-click="vincular()">Salvar
        <i class="mdi-content-send right"></i>
      </button>
    </div>
  </div>
