<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
	<title> SmartFleet	</title>
</head>
<!--Import Google Icon Font-->
<link href="css/google.css"
	rel="stylesheet">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- ARQUIVOS TEMA -->
<!-- CORE CSS-->
<link href="tema/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="css/modal.css" rel="stylesheet"/>
<link href="tema/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<!-- CSS style Horizontal Nav-->
<link href="tema/css/layouts/style-horizontal.css" type="text/css" rel="stylesheet" media="screen,projection">
<!-- Custome CSS-->
<link href="tema/css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
<link href="tema/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="tema/js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="tema/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="tema/js/plugins/sweetalert/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection">
<link rel="stylesheet" type="text/css" href="css/newStyle.css">

<div id="imprimir"></div>
<body ng-class="{cyan: !global.usuario}">
		<!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
		<div ng-if="global.usuario">
	  	<!-- START HEADER -->
	    <header id="header" class="page-topbar">
	        <!-- start header nav-->
	        <div class="navbar-fixed">
	            <nav class="navbar-color">
	                <div class="nav-wrapper">
	                    <ul class="left">
	                      <li><h1 class="logo-wrapper"><a ui-sref="home" class="brand-logo darken-1"><img src="img/logo-completa-transparente.png" alt="materialize logo"></a> <span class="logo-text">SmartFleet</span></h1></li>
	                    </ul>
	                    <div class="menu hide-on-med-and-down">
												<ul>
													<li><a ui-sref="listarProjetos" ng-if="global.usuario.id_tipo_pessoa != 55" title="Projetos">Projetos</a></li>
													<li><a ui-sref="listarVeiculos" title="Veículos">Veículos</a></li>
													<li><a ui-sref="listarUsuarios" title="Usuários">Usuários</a></li>
													<li><a ui-sref="listarOrigens" title="Origens de Carregamento">Origens de Carregamento</a></li>
													<div ng-if="global.projeto.id">
														<li><a ui-sref="listarLocais" title="Locais">Locais</a></li>
														<li><a ui-sref="listarCamadas" title="Camadas">Camadas</a></li>
														<li><a ui-sref="listarMateriais" title="Materiais">Materiais</a></li>
														<li><a ui-sref="listarOpV" title="Operador X Veículo">Op. X Veículo</a></li>
														<li><a ui-sref="listarOpG" title="Operador X Origem">Op. X Origem</a></li>
													</div>
													<li><a ui-sref="configuracoes" ng-if="global.usuario.id_tipo_pessoa != 55" title="Configurações">Configurações</a></li>
													<li><a ui-sref="logs" ng-if="global.usuario.id_tipo_pessoa != 55" title="Logs">Logs</a></li>
												</ul>
	                    </div>
	                    <ul class="right hide-on-med-and-down">
													</li>
	                        <li>
														<a href="javascript:void(0);" class="" name="logout" ui-sref="logout"><i class="mdi-content-clear"></i></a>
	                        </li>
	                    </ul>
	                </div>
	            </nav>

							<nav ng-if="aparecerConfiguracoes" id="horizontal-nav" class="white hide-on-med-and-down">
                <div class="nav-wrapper" style="float:right;position:relative;left:-50%;text-align:left;">
                  <ul id="ul-horizontal-nav" style="list-style:none;position:relative;left:50%;" class="hide-on-med-and-down">
										<!-- <li><a ui-sref="listarTiposGenerico({tipo: 'tipo_atividade'})" style="cursor:pointer" class="cyan-text" title="Tipo Atividade">Tipo Atividade</a></li> -->
										<li><a ui-sref="listarTiposGenerico({tipo: 'terceiros'})" style="cursor:pointer" class="cyan-text" title="Terceiros">Terceiros</a></li>
										<!-- <li><a ui-sref="listarTiposGenerico({tipo: 'tipo_camada'})" style="cursor:pointer" class="cyan-text" title="Tipo Camada">Tipo Camada</a></li> -->
										<li><a ui-sref="listarTiposGenerico({tipo: 'tipo_inatividade'})" style="cursor:pointer" class="cyan-text" title="Tipo Inatividade">Tipo Inatividade</a></li>
										<!-- <li><a ui-sref="listarTiposGenerico({tipo: 'tipo_local'})" style="cursor:pointer" class="cyan-text" title="Tipo Local">Tipo Local</a></li> -->
										<li><a ui-sref="listarTiposGenerico({tipo: 'tipo_manutencao'})" style="cursor:pointer" class="cyan-text" title="Tipo Manutenção">Tipo Manutenção</a></li>
										<li><a ui-sref="listarTiposGenerico({tipo: 'tipo_origem'})" style="cursor:pointer" class="cyan-text" title="Tipo Origem">Tipo Origem</a></li>
										<li><a ui-sref="listarTiposGenerico({tipo: 'tipo_pessoa'})" style="cursor:pointer" class="cyan-text" title="Perfil Acesso">Perfil Acesso</a></li>
										<li><a ui-sref="listarTiposGenerico({tipo: 'tipo_veiculo'})" style="cursor:pointer" class="cyan-text" title="Tipo Veículo">Tipo Veículo</a></li>
										<!-- <li><a ui-sref="listarTiposGenerico({tipo: 'unidade'})" style="cursor:pointer" class="cyan-text" title="Tipo Veículo">Unidades</a></li> -->
									</ul>

                  </ul>
                </div>
              </nav>
	        </div>
	        <!-- end header nav-->
	    </header>
	    <!-- END HEADER -->
			<!-- START MAIN -->
			<div id="main">
			  <!-- START WRAPPER -->
	      <div class="wrapper">

					<!-- START CONTENT -->
					<section id="content" style="{{aparecerConfiguracoes?'margin-top:65px':''}}">
						<br>
						<div class="center">
							<h3 ng-if="!aparecerConfiguracoes" class="header2">{{global.projeto.nome}}</h3>
							<h3 ng-if="aparecerConfiguracoes" class="header2">Configurações Gerais</h3>
						</div>
						<!-- Corpo do sistema  -->
						<main ui-view></main>
						<!--end container-->
					</section>
					<!-- END CONTENT -->
				</div>
			</div>
		</div>
		<div ng-if="!global.usuario" class="row">
				<main ui-view></main>
		</div>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsEIMP8f9wSZ8Ab2yvIrYwn1of1T_ARig&sensor=false&libraries=geometry,places&ext=.js"></script>
		<!-- ARQUIVOS TEMA -->
		<!-- jQuery Library -->
    <script type="text/javascript" src="tema/js/plugins/jquery-1.11.2.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="tema/js/materialize.min.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="tema/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!-- sparkline -->
    <script type="text/javascript" src="tema/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="tema/js/plugins/sparkline/sparkline-script.js"></script>
    <!--jvectormap-->
    <script type="text/javascript" src="tema/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script type="text/javascript" src="tema/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script type="text/javascript" src="tema/js/plugins/jvectormap/vectormap-script.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="tema/js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="tema/js/custom-script.js"></script>
		<!-- Alerta Bacana -->
    <script type="text/javascript" src="tema/js/plugins/sweetalert/sweetalert.min.js"></script>
		<script type="text/javascript" src="js/libs/angular-1.5.5.min.js"></script>
		<script type="text/javascript" src="js/libs/angular-animate.js"></script>
    <script type="text/javascript" src="js/libs/materialize.min.js"></script>
		<script type="text/javascript" src="js/libs/angular-materialize.min.js"></script>
		<script type="text/javascript" src="js/libs/angular-resource.js"></script>
		<script type="text/javascript" src="js/libs/angular-cookies.min.js"></script>
		<script type="text/javascript" src="js/libs/ui-router.min.js"></script>
		<script type="text/javascript" src="js/libs/mask.min.js"></script>
		<script type="text/javascript" src="js/libs/cpf.js"></script>
		<script type="text/javascript" src="js/libs/cnpj.js"></script>
		<script type="text/javascript" src="js/libs/ngCpfCnpj.js"></script>
		<script type="text/javascript" src="js/libs/ng-file-model.js"></script>
		<script type="text/javascript" src="js/libs/angular-google-maps.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/class/Usuario.js"></script>
    <script type="text/javascript" src="js/class/Projeto.js"></script>
    <script type="text/javascript" src="js/class/Veiculo.js"></script>
    <script type="text/javascript" src="js/class/Origem.js"></script>
    <script type="text/javascript" src="js/class/Local.js"></script>
    <script type="text/javascript" src="js/class/Origem.js"></script>
    <script type="text/javascript" src="js/class/Tipos.js"></script>
    <script type="text/javascript" src="js/class/Camada.js"></script>
		<script type="text/javascript" src="js/class/Material.js"></script>
		<script type="text/javascript" src="js/class/Terceiro.js"></script>
    <script type="text/javascript" src="js/class/Log.js"></script>
		<script type="text/javascript" src="js/class/AuthService.js"></script>
		<script type="text/javascript" src="js/dirPagination.js"></script>
		<script type="text/javascript" src="js/control/HomeController.js"></script>
    <script type="text/javascript" src="js/control/LoginController.js"></script>
    <script type="text/javascript" src="js/control/LogoutController.js"></script>
		<script type="text/javascript" src="js/control/UsuarioController.js"></script>
		<script type="text/javascript" src="js/control/EsqueceuSenhaController.js"></script>
    <script type="text/javascript" src="js/control/ProjetoController.js"></script>
    <script type="text/javascript" src="js/control/VeiculoController.js"></script>
    <script type="text/javascript" src="js/control/LocalController.js"></script>
    <script type="text/javascript" src="js/control/OrigemController.js"></script>
    <script type="text/javascript" src="js/control/ConfiguracoesController.js"></script>
    <script type="text/javascript" src="js/control/OperadorVeiculoController.js"></script>
    <script type="text/javascript" src="js/control/OperadorOrigemController.js"></script>
    <script type="text/javascript" src="js/control/CamadaController.js"></script>
		<script type="text/javascript" src="js/control/MaterialController.js"></script>
    <script type="text/javascript" src="js/control/LogController.js"></script>
		<script type="text/javascript" src="js/control/ModalController.js"></script>
    <script type="text/javascript" src="js/control/ModalImpressaoController.js"></script>
		<!-- Download Excel -->
    <script type="text/javascript" src="js/libs/FileSaver.min.js"></script>
		<script src="https://rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-0.11.0.min.js"></script>
		<script src="https://rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-0.11.0.min.js"></script>
		<script type="text/javascript">
    </script>
</body>
</html>
