		<div class="col s12 m12">
			<div class="card-panel">
			  <h4>{{tipo.id ? 'Editar' : 'Adicionar'}} {{configuracaoAtual}}</h4>
			  <br>
				  <div class="row">
				    <form class="col s12">
							<div ng-show="mcm" class="row">
								<div class="input-field col s2">
									<input id="cmanual" type="checkbox" ng-model="tipo.complemento">
									<label for="cmanual">Complemento Manual</label>
								</div>
							</div>
							<div ng-if="tipo_atual == 'tipo_pessoa'" class="row">
		            <div class="input-field col s12">
									<select ng-model="tipo.acesso" id="acessos" material-select watch>
										<option value="" disabled selected>Selecione o Acesso</option>
										<option value="1" >Cadastros</option>
										<option value="2" >Dashboard</option>
										<option value="3" >Aplicativo</option>
									</select>
									<label>Acesso</label>
		            </div>
							</div>
							<div class="row" ng-if="tipo_atual != 'terceiros'">
		            <div class="input-field col s12">
		              <input id="descricao" type="text" required ng-disabled="tipo_atual == 'tipo_atividade' && tipo.descricao == 'Inatividade' && tipo.id" ng-model="tipo.descricao" maxlength="40">
		              <label for="descricao">Descrição</label>
		            </div>
			        </div>
							<div class="row" ng-if="tipo_atual == 'terceiros'">
		            <div class="input-field col s12">
		              <input id="nome" type="text" required ng-model="tipo.nome" maxlength="50">
		              <label for="nome">Nome</label>
		            </div>
			        </div>
							<div class="row" ng-if="tipo_atual == 'terceiros'">
		            <div class="input-field col s12">
		              <input id="telefone" type="text" required ng-model="tipo.telefone" maxlength="15" model-view-value="true" ui-mask="{{phoneMask}}" mask-change="phoneMask">
		              <label for="telefone">Telefone</label>
		            </div>
			        </div>

							<div class="row" ng-if="tipo_atual == 'terceiros'">
		            <div class="input-field col s12">
		              <input id="email" type="email" required ng-model="tipo.email" maxlength="50">
		              <label for="email">E-mail</label>
		            </div>
			        </div>
			        <div class="row">
			          <div class="input-field col s10">
			            <button class="btn cyan right" title="Cancelar" ui-sref="listarTiposGenerico({tipo: tipo_atual})">Cancelar
			              <i class="mdi-navigation-close"></i>
			            </button>
			          </div>
			           <div class="input-field col s2">
			            <button class="btn cyan right" title="{{tipo.id ? 'Editar' : 'Adicionar'}}" type="submit" name="action" ng-click="acao()">{{tipo.id ? 'Editar' : 'Adicionar'}}
			              <i class="mdi-content-send right"></i>
			            </button>
			          </div>
			        </div>
			      </div>
			    </form>
			  </div>
	</div>
</div>
