<div class="card-panel">
  <h4>{{configuracaoAtual}}</h4>
  <br>
  <div class="row">
    <div class="input-field col s10">
      <button class="btn cyan" type="submit" title="{{tipo_atual == 'unidade' ? 'Nova' : 'Novo'}} {{configuracaoAtual}}" ui-sref="adicionarTipoGenerico({tipo: tipo_atual})">{{tipo_atual == 'unidade' ? 'Nova' : 'Novo'}} {{configuracaoAtual}}
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
        <i class="mdi-action-search prefix"></i>
        <input id="icon_prefix" type="text" ng-model="procurarTipos">
        <label for="icon_prefix">{{configuracaoAtual}}</label>
    </div>
  </div>
  <div class="row">
    <table class="bordered">
      <thead>
        <tr>
            <th>ID</th>
            <th ng-if="tipo_atual != 'terceiros'">Descrição</th>
            <th ng-if="mcm && tipo_atual != 'terceiros'">Campo Complementar</th>
            <th ng-if="tipo_atual == 'terceiros'">Nome</th>
            <th ng-if="tipo_atual == 'terceiros'">E-mail</th>
            <th>Ações</th>
        </tr>
      </thead>
      <tbody ng-repeat="t in tipos | filter:procurarTipos">
        <tr>
          <td>{{t.id}}</td>
          <td ng-if="tipo_atual != 'terceiros'">{{t.descricao}}</td>
          <td ng-if="mcm && tipo_atual != 'terceiros'">{{(t.complemento == '0' || t.complemento == null || t.complemento == '') ? 'N' : 'S'}}</td>
          <td ng-if="tipo_atual == 'terceiros'">{{t.nome}}</td>
          <td ng-if="tipo_atual == 'terceiros'">{{t.email}}</td>
          <td>
            <a style="cursor:pointer" title="Editar" ui-sref="editarTipoGenerico({id:t.id, tipo:tipo_atual})"><i class="mdi-editor-mode-edit small"></i></a>
            <a style="cursor:pointer" title="Excluir" ng-click="excluirTipoGenerico(t.id, tipo_atual)"><i class="mdi-action-delete small"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="input-field col s10">
      <button class="btn cyan" type="submit" title="{{tipo_atual == 'unidade' ? 'Nova' : 'Novo'}} {{configuracaoAtual}}" ui-sref="adicionarTipoGenerico({tipo: tipo_atual})">{{tipo_atual == 'unidade' ? 'Nova' : 'Novo'}} {{configuracaoAtual}}
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </div>
