		<div class="col s12 m12">
			<div class="card-panel">
			  <h4>{{camada.id ? 'Editar' : 'Adicionar'}} Camada</h4>
			  <br>
				  <div class="row">
				    <form class="col s12">
							<div class="row">
		            <div class="input-field col s12">
		              <input id="descricao" type="text" required ng-model="camada.descricao" maxlength="40">
		              <label for="descricao">Descrição</label>
		            </div>
			        </div>
			        <div class="row">
			          <div class="input-field col s10">
			            <button class="btn cyan right" title="Cancelar" ui-sref="listarCamadas">Cancelar
			              <i class="mdi-navigation-close"></i>
			            </button>
			          </div>
			           <div class="input-field col s2">
			            <button class="btn cyan right" title="{{camada.id ? 'Editar' : 'Adicionar'}}" type="submit" name="action" ng-click="acao()">{{camada.id ? 'Editar' : 'Adicionar'}}
			              <i class="mdi-content-send right"></i>
			            </button>
			          </div>
			        </div>
			      </div>
			    </form>
			  </div>
	</div>
</div>
