<div class="card-panel">
  <h4>Camadas</h4>
  <br>
  <div class="row" ng-if="global.usuario.id_tipo_pessoa != 55">
    <div class="input-field col s10">
      <button class="btn cyan" type="submit" title="Nova Camada" ui-sref="adicionarCamada">Nova Camada
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
        <i class="mdi-action-search prefix"></i>
        <input id="icon_prefix" type="text" ng-model="procurarCamada">
        <label for="icon_prefix">Procurar Camada</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="mostrarVinculados" type="checkbox" ng-click="mostrarEsconderVinculados(mostrarVinculados)" ng-model="mostrarVinculados">
      <label for="mostrarVinculados">Listar somente vinculados</label>
    </div>
  </div>
  <div class="row">
    <table class="bordered">
      <thead>
        <tr>
            <th>Vínculo Projeto</th>
            <th>ID</th>
            <th>Descrição</th>
            <th ng-if="global.usuario.id_tipo_pessoa != 55">Ações</th>
        </tr>
      </thead>
      <tbody ng-repeat="c in camadas | filter:procurarCamada">
        <tr>
          <td><a ng-if="c.id_projeto == global.projeto.id" style="cursor:pointer" title="Desvincular" ng-click="desvincularCamada(c.id)"><i class="mdi-action-done small"></i></a><a ng-if="c.id_projeto != global.projeto.id" style="cursor:pointer" title="Vincular" ng-click="vincularCamada(c.id)"><i class="mdi-content-clear small"></i></a></td>
          <td>{{c.id}}</td>
          <td>{{c.descricao}}</td>
          <td ng-if="global.usuario.id_tipo_pessoa != 55">
            <a style="cursor:pointer" title="Editar" ui-sref="editarCamada({id:c.id})"><i class="mdi-editor-mode-edit small"></i></a>
            <a style="cursor:pointer" title="Excluir" ng-click="excluirCamada(c.id)"><i class="mdi-action-delete small"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" ng-if="global.usuario.id_tipo_pessoa != 55">
    <div class="input-field col s10">
      <button class="btn cyan" type="submit" title="Nova Camada" ui-sref="adicionarCamada">Nova Camada
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </div>
