		<div class="col s12 m12">
			<div class="card-panel">
			  <h4>{{veiculo.id ? 'Editar' : 'Adicionar'}} Veículo</h4>
			  <br>
				  <div class="row">
				    <form class="col s12">
							<div class="row">
		            <div class="input-field col s6">
									<select ng-model="veiculo.id_tipo_veiculo" id="tipo_veiculo" material-select watch>
										<option value="" disabled selected>Selecione o Tipo</option>
										<option ng-repeat="t in tipo_veiculo" value="{{t.id}}" >{{t.descricao}}</option>
									</select>
									<label>Tipo Veículo</label>
		            </div>
								<div class="input-field col s6">
		              <input id="capacidade" type="number" min="0" required ng-model="veiculo.capacidade" maxlength="11">
		              <label for="capacidade">Volume (M³)</label>
		            </div>
							</div>
							<div class="row">
		            <div class="input-field col s6">
		              <input id="codigo" type="text" required ng-model="veiculo.codigo" maxlength="20">
		              <label for="codigo">Código</label>
		            </div>
		            <div class="input-field col s6">
		              <input id="placa" type="text" required ng-model="veiculo.placa" ui-mask="AAA-9999" model-view-value="true" ui-mask-placeholder ui-mask-placeholder-char="space" capitalize>
		              <label for="placa">Placa</label>
		            </div>
			        </div>
							<div class="row">
		            <div class="input-field col s6">
		              <input id="marca" type="text" required ng-model="veiculo.marca" maxlength="30">
		              <label for="marca">Marca</label>
		            </div>
		            <div class="input-field col s6">
		              <input id="modelo" type="text" required ng-model="veiculo.modelo" maxlength="30">
		              <label for="modelo">Modelo</label>
		            </div>
			        </div>
							<div class="row">
								<div class="input-field col s2">
									<input id="mterceiro" type="checkbox" ng-model="mterceiro">
									<label for="mterceiro">Terceiro</label>
								</div>
								<div ng-if="mterceiro" class="input-field col s10">
									<select ng-model="veiculo.id_terceiro" id="id_terceiro" material-select watch>
										<option value="" disabled selected>Selecione o Terceiro</option>
										<option ng-repeat="t in terceiros" value="{{t.id}}" >{{t.nome}}</option>
									</select>
									<label>Terceiro</label>
								</div>
							</div>
			        <div class="row">
			          <div class="input-field col s10">
			            <button class="btn cyan right" title="Cancelar" ui-sref="listarVeiculos">Cancelar
			              <i class="mdi-navigation-close"></i>
			            </button>
			          </div>
			           <div class="input-field col s2">
			            <button class="btn cyan right" title="{{veiculo.id ? 'Editar' : 'Adicionar'}}" type="submit" name="action" ng-click="acao()">{{veiculo.id ? 'Editar' : 'Adicionar'}}
			              <i class="mdi-content-send right"></i>
			            </button>
			          </div>
			        </div>
			      </div>
			    </form>
			  </div>
	</div>
</div>
