<div class="card-panel">
  <h4>Veículos</h4>
  <br>
  <div class="row" ng-if="global.usuario.id_tipo_pessoa != 55">
    <div class="input-field col s10">
      <button class="btn cyan" type="submit" title="Novo Veículo" ui-sref="adicionarVeiculo">Novo Veículo
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
        <i class="mdi-action-search prefix"></i>
        <input id="icon_prefix" type="text" ng-model="procurarVeiculo">
        <label for="icon_prefix">Procurar Veículo</label>
    </div>
  </div>
  <div class="row" ng-if="global.projeto.id">
    <div class="input-field col s12">
      <input id="mostrarVinculados" type="checkbox" ng-click="mostrarEsconderVinculados(mostrarVinculados)" ng-model="mostrarVinculados">
      <label for="mostrarVinculados">Listar somente vinculados</label>
    </div>
  </div>
  <div class="row">
    <table class="bordered">
      <thead>
        <tr>
            <th>ID</th>
            <th ng-if="global.projeto.id">Vínculo Projeto</th>
            <th ng-if="global.usuario.id_tipo_pessoa != 55">Projeto</th>
            <th>Tipo</th>
            <th>Modelo</th>
            <th>Código</th>
            <th>Ações</th>
        </tr>
      </thead>
      <tbody ng-repeat="v in veiculos | filter:procurarVeiculo">
        <tr>
          <td>{{v.id}}</td>
          <td ng-if="global.projeto.id"><a ng-if="v.id_projeto == global.projeto.id" style="cursor:pointer" title="Desvincular" ng-click="desvincularVeiculo(v.id)"><i class="mdi-action-done small"></i></a><a ng-if="v.id_projeto != global.projeto.id" style="cursor:pointer" title="Vincular" ng-click="vincularVeiculo(v)"><i class="mdi-content-clear small"></i></a></td>
          <td ng-if="global.usuario.id_tipo_pessoa != 55">{{v.vinculo}}</td>
          <td>{{v.nome_tipo}}</td>
          <td>{{v.modelo}}</td>
          <td>{{v.codigo}}</td>
          <td>
            <a style="cursor:pointer" ng-if="global.usuario.id_tipo_pessoa != 55" title="Editar" ui-sref="editarVeiculo({id:v.id})"><i class="mdi-editor-mode-edit small"></i></a>
            <a style="cursor:pointer" ng-if="global.usuario.id_tipo_pessoa != 55" title="Clonar" ui-sref="adicionarVeiculo({veiculo:v})"><i class="mdi-content-content-copy small"></i></a>
            <a style="cursor:pointer" ng-if="global.usuario.id_tipo_pessoa != 55" title="Excluir" ng-click="excluirVeiculo(v.id)"><i class="mdi-action-delete small"></i></a>
            <a style="cursor:pointer" title="Gerar QRCode" ng-click="gerarQRCodeVeiculo(v)"><i class="mdi-editor-insert-photo small"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" ng-if="global.usuario.id_tipo_pessoa != 55">
    <div class="input-field col s10">
      <button class="btn cyan" type="submit" title="Novo Veículo" ui-sref="adicionarVeiculo">Novo Veículo
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </div>
