		<div class="col s12 m12">
			<div class="card-panel">
			  <h4>Importar Estacas</h4>
			  <br>
				  <div class="row">
				    <form class="col s12">
							<div class="row">
		            <div class="input-field col s12">
									<select ng-model="id_local_carga" id="local" material-select watch>
										<option value="" disabled selected>Selecione o Local</option>
										<option ng-repeat="l in locais" value="{{l.id}}" >{{l.descricao}}</option>
									</select>
									<label>Local</label>
		            </div>
							</div>
							<div class="row">
		            <div class="file-field input-fiewld col s12">
									<input class="file-path validate" type="text" placeholder="Selecione um arquivo - Formato: Descricao;Lat;Lon;" />
		              <input id="arquivo" type="file" accept=".txt" ng-file-model="arquivo">
		            </div>
			        </div>
			        <div class="row">
			          <div class="input-field col s10">
			            <button class="btn cyan right" title="Cancelar" ui-sref="listarLocais">Cancelar
			              <i class="mdi-navigation-close"></i>
			            </button>
			          </div>
			          <div class="input-field col s2">
			            <button class="btn cyan right" title="Importar" type="submit" name="action" ng-click="importarArquivoEstacas()">Importar
			              <i class="mdi-content-send right"></i>
			            </button>
			          </div>
			        </div>
			      </div>
			    </form>
			  </div>
	</div>
</div>
