<style>
html, body, #map-canvas {
    height: 500px !important;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

/*.controls {
  margin-top: 10px !important;
  border: 1px solid transparent !important;
  border-radius: 2px 0 0 2px !important;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  height: 32px !important;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
}

#pac-input {
  background-color: #fff !important;
  font-family: Roboto !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  margin-left: 12px !important;
  padding: 0 11px 0 13px !important;
  text-overflow: ellipsis !important;
  width: 300px !important;
}

#pac-input:focus {
  border-color: #4d90fe !important;
}

.pac-container {
  font-family: Roboto !important;
}

#type-selector {
  color: #fff !important;
  background-color: #4d90fe !important;
  padding: 5px 11px 0px 11px !important;
}

#type-selector label {
  font-family: Roboto !important;
  font-size: 13px !important;
  font-weight: 300 !important;
}
#target {
  width: 345px !important;
}*/
</style>
<div class="col s12 m12">
	<div class="card-panel">
  	<h4>{{local.id ? 'Editar' : 'Adicionar'}} Local</h4>
  	<br>
	  <div class="row">
	    <form class="col s12">
				<div class="row">
          <div class="input-field col s10">
						<select ng-model="local.id_tipo_local" id="tipo_local" material-select watch>
							<option value="" disabled selected>Selecione o Tipo</option>
							<option ng-repeat="t in tipo_local" value="{{t.id}}" >{{t.descricao}}</option>
						</select>
						<label>Tipo</label>
          </div>
          <div class="input-field col s2">
						<input id="complemento_manual" type="checkbox" ng-model="local.complemento_manual">
						<label for="complemento_manual">Complemento Manual</label>
          </div>
				</div>
				<div class="row">
          <div class="input-field col s12">
            <input id="local" type="text" required ng-model="local.descricao" maxlength="50">
            <label for="local">Local</label>
          </div>
        </div>
				<div class="row">
          <div class="input-field col s6">
            <input id="latitude" type="text" ng-model="local.latitude" maxlength="15">
            <label for="latitude">Latitude</label>
          </div>
          <div class="input-field col s6">
            <input id="longitude" type="text" ng-model="local.longitude" maxlength="15">
            <label for="longitude">Longitude</label>
          </div>
        </div>
				<div class="row">
					<!-- <input id="pac-input" class="controls" type="text" placeholder="Procurar Endereço"> -->
					<ng-map id="map-canvas" ng-model="mapa" on-click="vm.placeMarker()" center="[{{lat}}, {{lng}}]" zoom="{{zoom}}">
            <marker position="{{local.latitude}},{{local.longitude}} "></marker>
					</ng-map>
					<!-- <div id="map-canvas"></div> -->
				</div>
        <div class="row">
          <div class="input-field col s10">
            <button class="btn cyan right" title="Cancelar" ui-sref="listarLocais">Cancelar
              <i class="mdi-navigation-close"></i>
            </button>
          </div>
           <div class="input-field col s2">
            <button class="btn cyan right" title="{{local.id ? 'Editar' : 'Adicionar'}}" type="submit" name="action" ng-click="acao()">{{local.id ? 'Editar' : 'Adicionar'}}
              <i class="mdi-content-send right"></i>
            </button>
          </div>
        </div>
			</form>
    </div>
  </div>
</div>
