<div class="card-panel">
  <h4>Locais</h4>
  <br>
  <div class="row">
    <div class="input-field col s3">
      <button class="btn cyan" type="submit" title="Novo Local" ui-sref="adicionarLocal">Novo Local
        <i class="mdi-content-add right"></i>
      </button>
    </div>
    <div class="input-field col s3">
      <button class="btn cyan" title="Importar Estacas" ui-sref="importarEstacas">Importar Estacas
        <i class="mdi-editor-attach-file right"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
        <i class="mdi-action-search prefix"></i>
        <input id="icon_prefix" type="text" ng-model="procurarLocal">
        <label for="icon_prefix">Procurar Local</label>
    </div>
  </div>
  <div class="row">
    <table class="bordered">
      <thead>
        <tr>
            <!-- <th>id_projeto</th> -->
            <!-- <th>Projeto</th> -->
            <th>ID</th>
            <th>Tipo</th>
            <th>Complemento Manual</th>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
      </thead>
      <tbody ng-repeat="l in locais | filter:procurarLocal">
        <tr>
          <!-- <td>{{l.id_projeto}}</td> -->
          <!-- <td>{{l.nome_projeto}}</td> -->
          <td>{{l.id}}</td>
          <td>{{l.nome_tipo}}</td>
          <td>{{l.complemento_manual == 1 ? 'S' : 'N'}}</td>
          <td>{{l.descricao}}</td>
          <td>
            <a style="cursor:pointer" title="Editar" ui-sref="editarLocal({id:l.id})"><i class="mdi-editor-mode-edit small"></i></a>
            <a style="cursor:pointer" title="Clonar" ui-sref="adicionarLocal({local:l})"><i class="mdi-content-content-copy small"></i></a>
            <a style="cursor:pointer" title="Excluir" ng-click="excluirLocal(l.id)"><i class="mdi-action-delete small"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="input-field col s3">
      <button class="btn cyan" type="submit" title="Novo Local" ui-sref="adicionarLocal">Novo Local
        <i class="mdi-content-add right"></i>
      </button>
    </div>
    <div class="input-field col s3">
      <button class="btn cyan" title="Importar Estacas" ui-sref="importarEstacas">Importar Estacas
        <i class="mdi-editor-attach-file right"></i>
      </button>
    </div>
  </div>
