		<div class="col s12 m12">
			<div class="card-panel">
			  <h4>{{material.id ? 'Editar' : 'Adicionar'}} Material</h4>
			  <br>
				  <div class="row">
				    <form class="col s12">
							<div class="row">
		            <div class="input-field col s2">
									<input ng-if="material.id" id="densidade" type="number" required ng-model="material.densidade" min="1" maxlength="40">
		              <input ng-if="!material.id" id="densidade" type="number" required ng-model="material.densidade" min="1" ng-init="material.densidade=1" maxlength="40">
		              <label for="densidade">Densidade</label>
		            </div>
		            <div class="input-field col s8">
									<select ng-model="material.id_unidade" id="unidade" material-select watch>
										<option value="" disabled selected>Selecione a Unidade</option>
										<option ng-repeat="u in unidades" value="{{u.id}}" >{{u.descricao}}</option>
									</select>
									<label>Unidade</label>
		            </div>
		            <div class="input-field col s2">
									<input id="complemento_manual" type="checkbox" ng-model="material.complemento_manual">
									<label for="complemento_manual">Complemento Manual</label>
		            </div>
							</div>
							<div class="row">
		            <div class="input-field col s12">
		              <input id="descricao" type="text" required ng-model="material.descricao" maxlength="40">
		              <label for="descricao">Descrição</label>
		            </div>
			        </div>
			        <div class="row">
			          <div class="input-field col s10">
			            <button class="btn cyan right" title="Cancelar" ui-sref="listarMateriais">Cancelar
			              <i class="mdi-navigation-close"></i>
			            </button>
			          </div>
			           <div class="input-field col s2">
			            <button class="btn cyan right" title="{{material.id ? 'Editar' : 'Adicionar'}}" type="submit" name="action" ng-click="acao()">{{material.id ? 'Editar' : 'Adicionar'}}
			              <i class="mdi-content-send right"></i>
			            </button>
			          </div>
			        </div>
			      </div>
			    </form>
			  </div>
	</div>
</div>
