<div class="card-panel">
  <h4>Materiais</h4>
  <br>
  <div class="row" ng-if="global.usuario.id_tipo_pessoa != 55">
    <div class="input-field col s10">
      <button class="btn cyan" type="submit" title="Novo Material" ui-sref="adicionarMaterial">Novo Material
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
        <i class="mdi-action-search prefix"></i>
        <input id="icon_prefix" type="text" ng-model="procurarMaterial">
        <label for="icon_prefix">Procurar Material</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="mostrarVinculados" type="checkbox" ng-click="mostrarEsconderVinculados(mostrarVinculados)" ng-model="mostrarVinculados">
      <label for="mostrarVinculados">Listar somente vinculados</label>
    </div>
  </div>
  <div class="row">
    <table class="bordered">
      <thead>
        <tr>
            <th>Vínculo Projeto</th>
            <th>ID</th>
            <th>Descrição</th>
            <th>Densidade</th>
            <th>Unidade</th>
            <th>Inserção Manual</th>
            <th ng-if="global.usuario.id_tipo_pessoa != 55">Ações</th>
        </tr>
      </thead>
      <tbody ng-repeat="m in materiais | filter:procurarMaterial">
        <tr>
          <td><a ng-if="m.id_projeto == global.projeto.id" style="cursor:pointer" title="Desvincular" ng-click="desvincularMaterial(m.id)"><i class="mdi-action-done small"></i></a><a ng-if="m.id_projeto != global.projeto.id" style="cursor:pointer" title="Vincular" ng-click="vincularMaterial(m.id)"><i class="mdi-content-clear small"></i></a></td>
          <td>{{m.id}}</td>
          <td>{{m.descricao}}</td>
          <td>{{m.densidade}}</td>
          <td>{{m.unidade}}</td>
          <td>{{m.insercao_manual == 1 ? 'S' : 'N'}}</td>
          <td ng-if="global.usuario.id_tipo_pessoa != 55">
            <a style="cursor:pointer" title="Editar" ui-sref="editarMaterial({id:m.id})"><i class="mdi-editor-mode-edit small"></i></a>
            <a style="cursor:pointer" title="Excluir" ng-click="excluirMaterial(m.id)"><i class="mdi-action-delete small"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" ng-if="global.usuario.id_tipo_pessoa != 55">
    <div class="input-field col s10">
      <button class="btn cyan" type="submit" title="Novo Material" ui-sref="adicionarMaterial">Novo Material
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </div>
