<div class="">
    <div class="modal-header">
        <h3 class="modal-title">Vínculos</h3>
    </div>
    <div class="modal-body">
        <div ng-repeat="v in vinculos">
            <br>
            <b>{{v}}</td>
            </br>
        </div>
    </div>
</div>
