		<div class="col s12 m12">
			<div class="card-panel">
			  <h4>{{origem.id ? 'Editar' : 'Adicionar'}} Origem de Carregamento</h4>
			  <br>
				  <div class="row">
				    <form class="col s12">
							<div class="row">
		            <div class="input-field col s12">
									<select ng-model="origem.id_tipo_origem" id="tipo_origem" material-select watch>
										<option value="" disabled selected>Selecione o Tipo</option>
										<option ng-repeat="t in tipo_origem" value="{{t.id}}" >{{t.descricao}}</option>
									</select>
									<label>Tipo</label>
		            </div>
							</div>
							<div class="row">
		            <div class="input-field col s6">
		              <input id="descricao" type="text" required ng-model="origem.descricao" maxlength="40">
		              <label for="descricao">Descrição</label>
		            </div>
		            <div class="input-field col s6">
		              <input id="modelo" type="text" required ng-model="origem.modelo" maxlength="40">
		              <label for="modelo">Modelo</label>
		            </div>
			        </div>
			        <div class="row">
			          <div class="input-field col s10">
			            <button class="btn cyan right" title="Cancelar" ui-sref="listarOrigens">Cancelar
			              <i class="mdi-navigation-close"></i>
			            </button>
			          </div>
			           <div class="input-field col s2">
			            <button class="btn cyan right" title="{{origem.id ? 'Editar' : 'Adicionar'}}" type="submit" name="action" ng-click="acao()">{{origem.id ? 'Editar' : 'Adicionar'}}
			              <i class="mdi-content-send right"></i>
			            </button>
			          </div>
			        </div>
			      </div>
			    </form>
			  </div>
	</div>
</div>
