<div class="card-panel">
  <h4>Origens de Carregamento</h4>
  <br>
  <div class="row" ng-if="global.usuario.id_tipo_pessoa != 55">
    <div class="input-field col s10">
      <button class="btn cyan" type="submit" title="Nova Origem de Carregamento" ui-sref="adicionarOrigem">Nova Origem de Carregamento
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
        <i class="mdi-action-search prefix"></i>
        <input id="icon_prefix" type="text" ng-model="procurarOrigem">
        <label for="icon_prefix">Procurar Origem de Carregamento</label>
    </div>
  </div>
  <div class="row" ng-if="global.projeto.id">
    <div class="input-field col s12">
      <input id="mostrarVinculados" type="checkbox" ng-click="mostrarEsconderVinculados(mostrarVinculados)" ng-model="mostrarVinculados">
      <label for="mostrarVinculados">Listar somente vinculados</label>
    </div>
  </div>
  <div class="row">
    <table class="bordered">
      <thead>
        <tr>
            <th>ID</th>
            <th ng-if="global.projeto.id">Vínculo Projeto</th>
            <th ng-if="global.usuario.id_tipo_pessoa != 55">Projeto</th>
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Modelo</th>
            <th>Ações</th>
        </tr>
      </thead>
      <tbody ng-repeat="o in origens | filter:procurarOrigem">
        <tr>
          <td>{{o.id}}</td>
          <td ng-if="global.projeto.id"><a ng-if="o.id_projeto == global.projeto.id" style="cursor:pointer" title="Desvincular" ng-click="desvincularOrigem(o.id)"><i class="mdi-action-done small"></i></a><a ng-if="o.id_projeto != global.projeto.id" style="cursor:pointer" title="Vincular" ng-click="vincularOrigem(o)"><i class="mdi-content-clear small"></i></a></td>
          <td ng-if="global.usuario.id_tipo_pessoa != 55">{{o.vinculo}}</td>
          <td>{{o.tipo_origem}}</td>
          <td>{{o.descricao}}</td>
          <td>{{o.modelo}}</td>
          <td>
            <a style="cursor:pointer" title="Editar" ng-if="global.usuario.id_tipo_pessoa != 55" ui-sref="editarOrigem({id:o.id})"><i class="mdi-editor-mode-edit small"></i></a>
            <a style="cursor:pointer" title="Clonar" ng-if="global.usuario.id_tipo_pessoa != 55" ui-sref="adicionarOrigem({origem:o})"><i class="mdi-content-content-copy small"></i></a>
            <a style="cursor:pointer" title="Excluir" ng-if="global.usuario.id_tipo_pessoa != 55" ng-click="excluirOrigem(o.id)"><i class="mdi-action-delete small"></i></a>
            <a style="cursor:pointer" title="Gerar QRCode" ng-click="gerarQRCodeOrigem(o)"><i class="mdi-editor-insert-photo small"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" ng-if="global.usuario.id_tipo_pessoa != 55">
    <div class="input-field col s10">
      <button class="btn cyan" type="submit" title="Nova Origem de Carregamento" ui-sref="adicionarOrigem">Nova Origem de Carregamento
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </div>
