		<div class="col s12 m12">
			<div class="card-panel">
			  <h4>{{editar ? 'Editar' : 'Adicionar'}} Projeto</h4>
			  <br>
				  <div class="row">
				    <form class="col s12">
							<div class="row">
		            <div class="input-field col s3">
		              <input id="id" type="text" ng-model="projeto.id" ng-disabled="true">
		              <label for="id">ID</label>
		            </div>
								<div class="input-field col s9">
									<input id="nome" type="text" required ng-model="projeto.nome" maxlength="70">
									<label for="nome">Nome</label>
								</div>
			        </div>
							<div class="row">
		            <div class="input-field col s4">
		              <input id="lote" type="text" required ng-model="projeto.lote" maxlength="20">
		              <label for="lote">Lote</label>
		            </div>
		            <div class="input-field col s4">
		              <input id="extensao" type="text" required ng-model="projeto.extensao" maxlength="20">
		              <label for="extensao">Extensão</label>
		            </div>
		            <div class="input-field col s4">
		              <input id="executor" type="text" required ng-model="projeto.executor" maxlength="80">
		              <label for="executor">Executor</label>
		            </div>
			        </div>
							<div class="row">
		            <div class="input-field col s4">
		              <input id="prazo_contratual" type="text" required ng-model="projeto.prazo_contratual" maxlength="30">
		              <label for="prazo_contratual">Prazo Contratual</label>
		            </div>
		            <div class="input-field col s4">
		              <input id="cidade" type="text" required ng-model="projeto.cidade" maxlength="40">
		              <label for="cidade">Cidade</label>
		            </div>
		            <div class="input-field col s4">
		              <input id="Estado" capitalize type="text" required ng-model="projeto.Estado" maxlength="2">
		              <label for="Estado">UF</label>
		            </div>
			        </div>
			        <div class="row">
			          <div class="input-field col s10">
			            <button class="btn cyan right" title="Cancelar" ui-sref="listarProjetos">Cancelar
			              <i class="mdi-navigation-close"></i>
			            </button>
			          </div>
			           <div class="input-field col s2">
			            <button class="btn cyan right" title="{{editar ? 'Editar' : 'Adicionar'}}" type="submit" name="action" ng-click="acao()">{{editar ? 'Editar' : 'Adicionar'}}
			              <i class="mdi-content-send right"></i>
			            </button>
			          </div>
			        </div>
			      </div>
			    </form>
			  </div>
	</div>
</div>
