<div class="card-panel">
  <h4>Projetos</h4>
  <br>
  <div class="row">
    <div class="input-field col s10">
      <button class="btn cyan" type="submit" title="Novo Projeto" ui-sref="adicionarProjeto">Novo Projeto
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
        <i class="mdi-action-search prefix"></i>
        <input id="icon_prefix" type="text" ng-model="procurarProjeto">
        <label for="icon_prefix">Procurar Projeto</label>
    </div>
  </div>
  <div class="row">
    <table class="bordered">
      <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Executor</th>
            <th>Ações</th>
        </tr>
      </thead>
      <tbody ng-repeat="p in projetos | filter:procurarProjeto">
        <tr>
          <td>{{p.id}}</td>
          <td>{{p.nome}}</td>
          <td>{{p.executor}}</td>
          <td>
            <a style="cursor:pointer" title="Selecionar" ng-click="selecionar(p)"><i class="mdi-image-remove-red-eye small"></i></a>
            <a style="cursor:pointer" title="Editar" ui-sref="editarProjeto({id:p.id})"><i class="mdi-editor-mode-edit small"></i></a>
            <a style="cursor:pointer" title="Excluir" ng-click="excluirProjeto(p.id)"><i class="mdi-action-delete small"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="input-field col s10">
      <button class="btn cyan" type="submit" title="Novo Projeto" ui-sref="adicionarProjeto">Novo Projeto
        <i class="mdi-content-add right"></i>
      </button>
    </div>
  </div>
