<link rel="stylesheet" type="text/css" href="tema/css/layouts/page-center.css">
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" formularioLogin>
          <div class="row">
            <div class="input-field col s12 center">
              <img src="img/logo-minimal.jpg" alt="" class="circle responsive-img valign profile-image-login">
              <p class="center login-form-text">SmartFleet</p>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="mdi-action-lock-outline prefix"></i>
              <input id="senha" ng-model="senha" type="password">
              <label for="senha">Nova Senha</label>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="mdi-action-lock-outline prefix"></i>
              <input id="csenha" ng-model="csenha" type="password">
              <label for="csenha">Confirmar Nova Senha</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button ng-click="alterarSenhaES()" type="submit" class="btn col s12">Enviar</button>
            </div>
          </div>
          <!-- <div class="row">
            <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small"><a href="page-forgot-password.html">Esqueceu a senha?</a></p>
            </div>
          </div> -->
        </form>
      </div>
