<div class="card-panel">
	<h3>Sistema SmartFleet</h3>
	<p>Olá {{global.usuario.nome}}, bem vindo ao sistema SmartFleet de gerenciamento de insumos!!</p>
	<p ng-if="!global.projeto && global.usuario.id_tipo_pessoa != 55">Para acesso a todos os itens do Menu, selecione um <a ui-sref="listarProjetos">projeto</a></p>
	<p ng-if="global.projeto  || global.usuario.id_tipo_pessoa == 55">O projeto selecionado é {{global.projeto.nome}}</p>
	<br>
</div>
