<link rel="stylesheet" type="text/css" href="tema/css/layouts/page-center.css">
  <div class="col s12 m4 center" style="width:200px;height:100px;position:absolute;left:50%;top:50%;margin-left:-100px;margin-top:-50px;" ng-if="spinner">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-red-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
    <div class="col s12 z-depth-4 card-panel">
      <form class="login-form" formularioLogin ng-if="form == 'login'">
          <div class="row">
            <div class="input-field col s12 center">
              <img src="img/logo-minimal.jpg" alt="" class="circle responsive-img valign profile-image-login">
              <p class="center login-form-text">SmartFleet</p>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="mdi-social-person-outline prefix"></i>
              <input id="login" ng-model="usuario.login" type="text">
              <label for="login">Login</label>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="mdi-action-lock-outline prefix"></i>
              <input id="senha" ng-model="usuario.senha" type="password">
              <label for="senha">Senha</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button ng-click="fazerLogin()" type="submit" class="btn col s12">Login</button>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 m6 l6">
                <p class="margin left medium-small"><a ui-sref="eas" title="Esqueceu a senha?">Esqueceu a senha?</a></p>
            </div>
          </div>
        </form>
        <form class="login-form" formularioLogin ng-if="form == 'eas'">
          <div ng-if="!spinner">
            <div class="row">
              <div class="input-field col s12 center">
                <img src="img/logo-minimal.jpg" alt="" class="circle responsive-img valign profile-image-login">
                <p class="center login-form-text">SmartFleet</p>
              </div>
            </div>
            <div class="row margin">
              <div class="input-field col s12">
                <i class="mdi-communication-email prefix"></i>
                <input id="email" ng-model="email" type="email">
                <label for="email">E-mail</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button ng-click="recuperarSenha(email)" type="submit" class="btn col s12">Enviar</button>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6 m6 l6">
                  <p class="margin left medium-small"><a ui-sref="login" title="Login">Login</a></p>
              </div>
            </div>
          </div>
        </form>
      </div>
